Source: wasta-logos-setup
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-logos-setup

Package: wasta-logos-setup
Architecture: all
Depends: cabextract, rsync, wasta-wine, wasta-winetricks, zenity, ${misc:Depends}
Recommends: wasta-logos-installer
Description: Setup Logos via WINE
 Patches WINE for Logos compatibility, sets up Logos WINE prefix using
 wasta-wine, installs .NET 4.7.2 in the wine prefix using wasta-winetricks,
 and installs Logos, using ~/Downloads/Logos-x86.msi or Logos-x86.msi from
 wasta-logos-installer.
 .
 Needs to be run for each user wanting Logos.
