[Desktop Entry]
Name=wasta [Logos] Setup
Comment=Install, re-install, or update Logos using 'wine'
Exec=wasta-logos-setup
Terminal=true
Icon=wasta-logos
Type=Application
Categories=Wine;
