[Desktop Entry]
Name=wasta [Logos] Setup
Comment=Install or re-install Logos using 'Wine'
Exec=wasta-logos-setup
Terminal=false
Icon=wasta-logos
Type=Application
Categories=Wine;
