[Desktop Entry]
Name=Configure Logos Wine
Comment=Change Logos Wine configuration options
Exec=sh -c "WINEPREFIX=\\$HOME/.wine-logos/ WINEARCH=win32 winecfg"
Terminal=false
Icon=wine-winecfg
Type=Application
Categories=Wine;
StartupWMClass=winecfg.exe
